/* Codigo CSS general para el sitio web de Jorge Toledo Moreno Freelance */

:root{
    --main: #eff5fa;
    --primario: #ffba13;
    --secundario: #008c9a;
    --gris: #696969;
    --gris-claro: #dfe9f3;
    --oscuro: #212121;
    --blanco: #ffffff;
    --fuente: 'DM Sans', sans-serif;
    --titulos: 'Prosto One', sans-serif;

}
html {
    font-size: 65%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.5rem; /* 1rem = 10px*/
    color: var(--oscuro);
    font-family: var(--fuente);
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
    
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3, .titulo2{
    font-size: 1.8rem;
}
h1, h2, h3, .titulo2{
    font-family: var(--titulos);
    text-align: center;
}
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }   
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.nav-bg{
    background-color: var(--secundario);
}

/*Fin*/
.servicios,
.navegacion-principal,
.formulario-contacto,
.footer{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* Header */

.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120 rem;
    margin: 0 auto;
}

/* Fin*/

/* Navegacion Principal */
.navegacion-principal{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
    
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Fin */

/* Hero Banner */

.hero{
    background-image: url(../img/banner_1240x400_hero_noblur.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanco);
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ubicacion p, .boton{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ubicacion p::before{
    content: url(/img/map-pin.svg);
    padding: 1rem;
}

.boton{
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--secundario);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}
.boton:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Fin */

/* Contenedor Servicios Main */

.contenedor-main{
    max-width: 65%;
    padding: 2rem;
    margin: 2rem auto;
    background-color: var(--blanco);
    border-radius: 1rem;
    box-shadow: -3px 11px 15px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; /* Agrega esta línea para organizar los elementos en una columna */
    align-items: center; /* Agrega esta línea para centrar horizontalmente */
    justify-content: center; /* Agrega esta línea para centrar verticalmente */
}
.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.hr{
    width: 50%;
    border: 2px solid var(--gris-claro);
}

.servicio{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.servicio h3{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    padding: 1rem;
    color: var(--secundario);
}
.servicio p{
    text-align: center;
    padding: 0.5rem;
    line-height: 2rem;
}
.servicio .iconos{
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

/* Fin*/

/*Formulario de Contacto*/
.formulario-contacto{
    background-color: var(--gris);
    border-radius: 1rem;
    padding: 2rem;
    width: min(60rem, 100%);
    margin: 2rem auto;
}
.formulario-contacto fieldset{
    border: none;
}
.formulario-contacto legend{
    width: 100%;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: bold;
    color: var(--primario);
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(3, auto, auto,1fr);
    }
    .campo:nth-child(3), .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}
.campo label{
    display: block;
    margin-bottom: 0.5rem;
    color: var(--blanco);
}
.campo textarea{
    height: 20rem;
}
.input-text{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

/*Fin Formulario de Contacto*/

/* Footer */
.footer{
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
    padding: 1rem;
}
/* Fin Footer */