
:root{
    --main: #eff5fa;
    --primario: #ffba13;
    --secundario: #008c9a;
    --gris: #696969;
    --oscuro: #212121;
    --blanco: #ffffff;
    --fuente: 'DM Sans', sans-serif;
    --titulos: 'Prosto One', sans-serif;

}
html{
    font-size: 65%;
}
body{
    font-size: 1.5rem; /* 1rem = 10px*/
    color: var(--oscuro);
    font-family: var(--fuente);
    
}
h1, h2, h3{
    font-family: var(--titulos);
}
.titulo{
    text-align: center;
    font-size: 5rem;
}
.titulo span{
    font-size: 2rem;
}
.titulo2{
    text-align: center;
    font-size: 3rem;
}