
:root{
    --main: #eff5fa;
    --primario: #ffba13;
    --secundario: #008c9a;
    --gris: #696969;
    --oscuro: #212121;
    --blanco: #ffffff;
    --fuente: @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

    
    
}
html{
    font-size: 65.5%;
}
body{
    font-size: 16px; /* 1rem = 10px*/
}
.titulo{
    text-align: center;
    font-size: 5rem;
}
.titulo span{
    font-size: 2rem;
}
.titulo2{
    text-align: center;
    font-size: 3rem;
}